.section-two {
    background-color: $bg-light;
    margin: 0;
    
    .container-cards-pcs {
        justify-content: space-around;
        padding: $lg;
        margin: 0;
        
        .card-inicio-pc {
            transition: all $sec-md ease;
            &:hover {
                @include border(1px, $bg-d-gray);
            }
        }
    }
    .container__puntos {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1;
        justify-items: center;
        align-items: center;
        padding: 20px;
        &__punto {
            @include flex-column(center,center,auto);
            width: 210px;
            height: 210px;
            padding: 40px 20px;
            @include border(2px,#0a4e97,50%);
            transition: all $sec-md ease;
            &:hover {
                border-color: $bg-l-blue;
            }
            
            i {
                color: $bg-d-gray;
                font-size: $sm;
                @include border(1px,$bg-d-gray,50%);
                padding: 7px;
            }
            
            h3 {
                font-size: $md;
                color: $bg-d-gray;
                @include border(2px,$bg-d-gray,$lados: bottom);
                text-align: center;
                width: 80%;
            }
            
            p {
                color: $bg-d-gray;
                font-size: $xs;
                text-align: center;
            }
        }
    }
}