.container-texto-nosotros {
    display: flex;
    flex-direction: column;
    background-color: $bg-light;
}

.container-texto2-nosotros {
    @include flex-column();
    background-color: $bg-green;
}

.texto-nosotros {
    padding: 20px;

    h2 {
        font-size: $lg;
        color: $bg-dark;
    }

    p {
        font-size: $md;
    }

    .container-img-article {
        @include size(100%);

        img {
            @include size(100%);
            @include border(2px, $bg-dark, 1em);
        }
    }
}