.container-tienda {
    background-color: $bg-light;

    .aside-tienda {
        @include flex-column($gap:30px);

        .container-filtro {
            ul {
                list-style: none;

                li {
                    .h4-filtro {
                        color: #777;
                    }
                }
            }
        }
    }
    .container-items-tienda {
        
        .container-cards-tienda {
            justify-content: space-evenly;

            .card-tienda-pc {
                transition: all $sec-md ease;
                &:hover {
                    @include border(1px, $bg-d-gray);
                }
            }
        }
    }
}
